:root {
  --dark: #20272c;
  --light: #f3f6f8;
  --light-2: #d9e0e6;
  --muted-front: hsl(258, 10%, 49%);
  --muted-bg: hsl(260, 58%, 86%);
  --accent-color: #00ddb3;
  --accent-color-2: #0b9d85;
  --primary: #232bff;
  --secondary: #772dff;
}

@font-face {
  font-family: appMonospace;
  src: url(/src/RobotoMono-Medium.ttf);
}

* {
  margin: 0;
}
html {
  height: 100%;
}
body {
  font-family: system-ui, sans-serif;
  background-color: --dark;
  min-height: 100%;
}

header {
  font-size: 20px;
  display: flex;
  align-items: center;
  gap: 10px;
  padding-inline: 8px;
  height: 80px;
  background-color: white;
}

ul,
ol {
  list-style: none;
  padding: 0;
}

section {
  /* border: 1px solid; */
  display: flex;
}

section.top {
  display: flex;
  flex-direction: row;
  min-height: 600px;
  background-image: linear-gradient(var(--primary), var(--secondary));
  color: var(--light);
}

section.top .left {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 50px;
  padding-right: 0px;
  gap: 16px;
  width: 50vw;
  /* border: 1px solid; */
}

section.top .left h1 {
  font-size: 52px;
  /* border: 1px solid; */
}
section.top .left p {
  font-size: 20px;
  /* padding-inline: 50px; */
  /* max-width: 350px; */
  /* text-align: right; */
  /* border: 1px solid; */
}

section.top .right {
  padding: 50px;
  padding-left: 0px;
  width: 50vw;
  /* max-height: 400px; */
  /* border: 1px solid; */
}

dotlottie-player {
  /* max-width: 400px; */
  max-height: 500px;
  /* margin: 0 auto; */
}

section.bottom {
  justify-content: center;
  padding-block: 80px;
}

.cta-button {
  text-decoration: none;
  background-image: linear-gradient(var(--accent-color), var(--accent-color-2));
  color: var(--light);
  font-size: 22px;
  font-weight: bold;
  border-radius: 1000px;
  padding: 12px 24px;
  cursor: pointer;
  border: none;
}

.cta-button:hover {
  opacity: 0.75;
}

body.app {
  background-color: var(--light);
}

#breadcrumbs {
  font-size: 16px;
  align-items: center;
  padding-left: 16px;
  display: flex;
  overflow-x: auto;
  overflow-y: hidden;
}
.entity-card {
  display: flex;
  align-items: center;
  /* border: 1px solid var(--muted-front); */
  border-radius: 1000px;
  height: 40px;
  gap: 6px;
  padding-inline: 8px;
  user-select: none;
  transition: 0.25s;
  cursor: pointer;
  white-space: nowrap;
}
.entity-card:hover {
  background-color: var(--muted-bg);
}

.entity-card small {
  display: flex;
  align-items: center;
  gap: 6px;
}

.entity-card.active small {
  color: var(--secondary);
}

/**********************************************************************/

svg {
  background-color: var(--light);
}

.icon {
  width: 16px;
  height: 16px;
}

.avatar-img {
  width: 48px;
  height: 48px;
  object-fit: cover;
  border-radius: 1000px;
}

.avatar-img.small {
  width: 24px;
  height: 24px;
}

.dismiss-btn {
  border: none;
  cursor: pointer;
  position: absolute;
  height: 36px;
  top: 32px;
  right: 32px;
  background-color: transparent;
  transition: 0.25s;
  display: flex;
  justify-content: center;
  align-items: center;
}
.dismiss-btn:hover {
  background-color: var(--light-2);
}

#details-view {
  display: none;
  position: relative;
  padding: 32px;
}

#details-view-content {
  border: 1px solid blue;
}

#details-view-content .head {
  border: 1px solid orange;
  display: flex;
  align-items: center;
  gap: 6px;
}

#details-view-content .head h2 {
  display: flex;
  align-items: center;
}

#details-view-content .head .icon {
  width: 32px;
  height: 32px;
  margin-right: 8px;
}

#details-view-content .body {
  border: 1px solid purple;
}

#details-view-content ul.prompt-list {
  margin: 0 auto;
  /* padding-block: ; */
  max-width: 600px;
}

#details-view-content ul.prompt-list li {
  margin: 0 0 24px;
}

#details-view-content ul.prompt-list li .input,
#details-view-content ul.prompt-list li .output {
  margin-bottom: 16px;
}

#details-view-content ul.prompt-list li .input .top,
#details-view-content ul.prompt-list li .output .top {
  display: flex;
  align-items: center;
  gap: 8px;
}

#details-view-content ul.prompt-list li .input .top .timestamp {
  color: var(--muted-front);
}

#details-view-content ul.prompt-list li .input .bottom,
#details-view-content ul.prompt-list li .output .bottom {
  max-width: 720px;
  padding: 4px 32px;
}

/* ul.prompt-list li .input .avatar-img.small,
ul.prompt-list li .output .avatar-img.small {
} */

@media screen and (max-width: 1000px) {
  section.top {
    flex-direction: column;
  }
  section.top .left {
    width: calc(100% - 100px);
    text-align: center;
    padding: 24px 50px;
  }

  section.top .right {
    width: 100vw;
  }
  dotlottie-player {
    max-width: 300px;
    max-height: 200px;
    margin: 0 auto;
    transform: translateY(-40px);
  }
}
